@charset 'utf-8';
html{color:#333;background:#FFF;font-size:10px;
		-webkit-tap-highlight-color:rgba(0,0,0,0); 
		-webkit-tap-highlight:rgba(0,0,0,0);
		-webkit-text-size-adjust:none;
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.red{color:red;}
.a9001b{color:#a9001b;}
a{color:#333;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{background-color:none;}
input[type='text'],textarea{box-shadow:inset 0 100px 100px #fff;overflow:hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,a,figure,ol,ul,ins{
	margin:0;padding:0;list-style:none;outline:none;text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,button,input,select{background:none;outline:none;}
a{text-decoration:none;color:#666;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;}
legend{color:#000;}
button,input{border:0;}
#yui3-css-stamp.cssreset{display:none;}
input{-webkit-appearance:none;}

/*通用类*/
.juzhong{position: absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%)}
.mb10{margin-bottom:10px!important;}
.cell{height:40px;}
.bgf0{background:#f0f0f0;}
.ovh100{width:100%;overflow: hidden;}
.btn{height:40px;line-height:40px; background:#a20000;text-align:center;display:block;width:80%;margin:0 auto; max-width:360px;color:#fff;border-radius:3px;font-size:14px;}
html,body{height:100%;overflow:auto;margin:0 auto;position: relative;}
.container{margin:0 auto;min-width:320px;max-width:640px;width:100%;position: relative;height:100%;overflow:auto;}
.grayLayer{width:100%;height:100%;position: absolute;background:rgba(0,0,0,.3);z-index:99999;top:0;left:0;}
.grayLayer .otherWay{position: absolute;height:130px;bottom:-140px;width:100%;background:#ececec;transition:all .4s ease 0s;-webkit-transition:all .4s ease 0s;}
.grayLayer .otherWay li{height:40px;line-height:40px;text-align:center;font-size:14px;color:#666;border-bottom:1px solid #ddd;background:#fff;}
.grayLayer .otherWay li:last-child{margin-top:10px;border-bottom:none;}
.grayLayer .otherWay2{height:110px;}
.grayLayer .otherWay2 li{height:50px;line-height:50px;}
.grayLayer .otherWay3{height:215px;border:-215px;}
.grayLayer .exchangeLayer{width:80%;max-width:300px; height:80px;position: absolute;background:#fff;border-radius:5px;text-align:center;font-size:14px;font-weight:600;color:#888;
	top:50%;left:50%;margin-top:-40px;transform:translateX(-50%);-webkit-transform:translateX(-50%); line-height:80px;display:block;}
.grayLayer .exchangeLayer .close{position: absolute;background:url(../images/close.png) no-repeat center center;
	background-size:100% auto; width:16px;height:16px;top:10px;right:10px;}
.GraPointsTipLayer{position: absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);  
	width:80%;max-width:300px;min-height:100px;background:#fff;border-radius:5px;}
.GraPointsTipLayer1{height:100px;line-height:100px;font-size:13px;text-align:center;font-weight:600;color:#888;}
.GraPointsTipLayer .top{line-height:22px;font-size:13px;color:#888;font-weight:600;text-align:center;padding:10px 0;}
.GraPointsTipLayer .bottom{display:-webkit-box;width:100%;border-top:1px solid #ddd;}
.GraPointsTipLayer .bottom a{display:block;-webkit-box-flex:1;text-align:center;font-size:13px;box-sizing:border-box;line-height:32px;height:32px;}
.GraPointsTipLayer .bottom a:first-child{border-right:1px solid #ddd;}
input[type=submit],input[type=reset]{-webkit-appearence:none;}
.tipLayer{position: absolute;width:82%;height:20%;max-height:200px; top:50%; left:50%;border-radius:10px;
	-webkit-transform:translateX(-50%) translateY(-50%);background:#fff;text-align:center;font-size:14px;
}
.tipLayer .title{height:60%;position: relative;color:#777;}
.poaMiddle{width:100%;height:30px;line-height:30px;position: absolute;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);}
.tipLayer .title span{}
.tipLayer .downBtn{height:40%;border-top:1px solid #ddd;display:-webkit-box;}
.tipLayer .downBtn>span{display:block;-webkit-box-flex:1;position: relative;height:100%;}
.tipLayer .title .modifyCss{-webkit-transform:translateX(-50%) translateY(-90%);}
.ziStyle1{color:#999;font-size:10px;line-height:14px;position: absolute;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(0);}
.clearFix:after{content:'';visibility:hidden;clear:both;}
.commonGap{width:100%;padding:10px;box-sizing:border-box;}
.left{float:left;}
.right{float: right;}
.borNone{border:none!important;}
.lh32{line-height:32px;}

/*开始*/
header{position: fixed;top:0;left:0;width:100%;height:45px;}
header a{display:inline-block;height:100%;font-size:16px;color:#a9001b;line-height:45px;padding:0 15px;}
header+article{padding-top:45px;width:100%;}
.login_pic{height:260px;margin:10px auto 0;text-align:center;line-height:40px;font-size:16px;}
.login_pic span:first-child{display:block;margin:0 auto;width:150px;height:150px;border-radius:111111px;}
.login_pic span:first-child img{display:block;width:100%;}
.loginPart{position: absolute;top:250px;height:200px;width:100%;}
.loginPart .uPwd{height:45px;display:-webkit-box;border-bottom:1px solid #ddd;width:80%;margin:10px auto;max-width:360px;}
.loginPart i{display:block;width:30px;height:30px;margin:0 20px;background:url(../images/login_lock.png) center center no-repeat;background-size:90% auto;}
.loginPart input{display:block;-webkit-box-flex:1;height:30px;margin-top:13px;box-sizing:border-box;}
.loginPart input::-webkit-input-placeholder{color:#999;position: relative;top:-1px;font-size:14px;}
.btn input[type=submit]{display:block;width:100%;height:100%;color:#fff;font-size:16px;}
.forgetPwd{text-align:right;}
.forgetPwd a{margin-right:13%;display:inline-block;line-height:40px;}
.switchCount{width:100%;text-align:center;position: absolute;bottom:5%;font-size:14px;color:#a9001b;}
.switchCount a{color:#a9001b;}
@media(min-width:319px) {
	.login_pic span:first-child{width:140px;height:140px;}
	.loginPart .uPwd{margin:0 auto 10px;}
	.loginPart i{width:25px;height:25px;margin-top:15px;}
}
@media(min-width:359px) {	
}
.loginTitle{height:200px;font-size:20px;color:#333;text-align:center;overflow: hidden;}
.loginTitle h3{line-height:30px;margin-top:40px;font-weight:500;}
.otherLP{top:180px;}
.loginPart .mobileIcon{background:url(../images/login_mob.png) center center no-repeat;background-size:90% auto;}
.loginPart .wufuIcon{background:url(../images/login_wufu.png) center center no-repeat;background-size:90% auto;}
.headPic{display:block;width:100px;height:100px;border-radius:11111px;overflow: hidden;margin:20px auto 0;}
.headPic img{width:100%;height:100%;display:block;}
header.exist{background:#a20000;line-height:45px;color:#fff;text-align:center;font-size:16px;z-index:999;}
header.exist a.headerArr{position: absolute;top:0;left:0;z-index:999;background:url(../images/headArr.png) center center no-repeat;background-size:auto 50%;height:100%;width:10px;}
.newsList li{position: relative;height:50px;}
.newsList li a{display:block;height:50px;border-bottom:1px solid #ddd;color:#777;padding:0 10px;box-sizing:border-box;}
.newsList li .title{line-height:30px;font-weight:600;font-size:14px;width:80%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:block;}
.newsList li .time{line-height:14px;color:#999;display:block;}
.newsList li .zhufu{color:#999;}
.newsList li .xiushi{position: absolute;top:10px;right:10px;width:6px;height:6px;border-radius:111111px;background:#a20000;}
figure{width:100%;display:block;padding-bottom:10px;}
figure.last{padding-top:20px;width:100%;overflow: hidden;overflow-x:scroll;}
figure.last::-webkit-scrollbar{height:0;width:0;background:none;}
figure.last table{border:1px solid #ddd;width:600px;border-collapse:collapse;}
figure.last table td{border:1px solid #ddd;line-height:32px;font-size:12px;text-align:center;}
figure.last table td img{width:10px;display:inline-block;margin:4px 0 0 5px;vertical-align:top;}
figure img{display:block;width:100%;}
figure span{text-align:center;color:#999;font-size:10px;line-height:30px;display:block;}
figure ~ p{font-size:14px;color:#888;line-height:20px;}
.newsTitle{font-size:14px;line-height:18px;}
.attachTitle{line-height:26px;color:#888;font-size:10px;}
.rightBtns{height:100%;position: absolute;right:10px;top:0;max-width:90px;width:30%;padding-top:5px;box-sizing:border-box;}
.rightBtns .newsIcon{background:url(../images/newsIcon.png) center center no-repeat;background-size:60% auto;float:right;width:36px;height:36px;padding:0;}
.prayCon{margin-top:10px;}
.prayCon .part{line-height:22px;color:#888;font-size:12px;margin-top:-10px;}
.prayCon .part.last{padding:20px 0 10px;color:#999;text-align:center;}
.prayCon .part .title{line-height:24px;font-size:14px;color:#666;font-weight:600;}
.itemCards .title{color:#666;font-size:14px;font-weight:600;margin-bottom:10px;}
.itemCards .title+img{display:block;margin:10px 0;}
.itemCards li{color:#666;line-height:18px;color:#888;}
.itemCards table{width:100%;border:1px solid #ddd;border-collapse: collapse;}
.itemCards table td{border:1px solid #ddd;font-size:14px;text-align:center;line-height:30px;color:#888;}
.commonCell .cell{border-bottom:1px solid #ddd;height:auto;overflow: hidden;height:45px;line-height:45px;font-size:13px;}
.commonCell .cell a{display:block;height:100%;}
.commonCell .cell .commonGap{padding:0 10px;}
.commonCell .cell > div{height:100%;}
.commonCell .cell .clearFix .right{color:#888;}
.commonCell .cell .right{height:100%;overflow: hidden;}
.resetBtn{margin-top:10px;width:100%;height:45px;background:#f0f0f0;}
.resetBtn input[type=submit],.resetBtn button{width:100%;height:100%;color:#666;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.commonCell .cell .right textarea{resize:none;height:40px;line-height:20px; width:100px;margin-top:15px;border:none;}
i.smallArr{display:inline-block;vertical-align:top;margin-top:17px;width:12px;height:12px;background:url(../images/smallArr.png) no-repeat center center;background-size:100% auto;}
input.rechargeNum{height:30px;line-height:30px;width:70px;}
.confirmMoney{padding-top:20px;}
.rechargeSucIcon{padding:25px 0 15px;}
.rechargeSucIcon>span{display:block;line-height:20px;text-align:center;font-size:18px;color:#666;font-weight:600;margin-top:10px;}
.aboutTitle{padding:15px 0;}
.rechargeSucIcon img,.aboutTitle img{display:block;width:20%;max-width:100px;margin:0 auto;}
.aboutTitle img{width:25%;}
.aboutDetail p{padding-bottom:10px;line-height:20px;}
.certificateQuery{top:100px;}
i.certificateIcon{background:url(../images/certificateIcon.png) center center no-repeat;background-size:90% auto;}
.certificate{margin:0 auto;padding:10px 0;padding-bottom:20px;}
.certificate .title{width:80%;margin:0 auto;display:block;text-align:center;font-size:14px;line-height:20px; color:#888;padding-bottom:10px;}
.certificate img{display:block;width:30%;max-width:200px;margin:0 auto;}
.certificateDetail{font-size:14px;color:#888;line-height:20px;}
.certificateDetail .first{padding-bottom:10px;}
.signature{text-align:center;line-height:20px;font-size:14px;color:#888;padding-top:22px;}
#certificateName{width:80px;text-align:center;border-bottom:1px solid #888;font-size:16px;font-weight:600;}
.inviteWay2{width:80%;margin:0 auto;}
.inviteWay2 span{width:40%;background:#a20000;color:#fff;border-radius:2px;height:40px;max-width:120px;line-height:40px;font-size:14px;}
.inviteWay2 span i{display:inline-block;vertical-align:top;margin:5px 10% 0 10%;width:30px;height:30px;background:url(../images/wxIcon.png) center center no-repeat;background-size:100% auto;}
.inviteWay2 span i.dxIcon{background-image:url(../images/dxIcon.png);}
.inviteFriends .title{text-align:center;font-size:14px;padding:15px 0;display:block;color:#888;}
.inviteCon{height:120px;width:90%;position: relative;margin:0 auto;}
.inviteCon .num{position: absolute;width:60px;height:22px;line-height:22px;right:10px;bottom:5px;color:#777;text-align:right;}
.inviteCon textarea{border:1px solid #ddd;padding:5px;box-sizing:border-box;display:block;width:100%;height:120px;resize:none;line-height:20px;border-radius:2px;font-size:14px;}
.redTitlePacket{font-size:12px;height:100%;line-height:35px;display:block;text-align:right;}
.redTitlePacket .redclickZone>a{color:#fff;font-size:12px;padding:0;line-height:20px;}
.redPacketConLi{width:100px;height:auto;position: absolute;top:55px;right:10px;background:#585858;z-index:99999;border-radius:3px;display:none;
	transition:all .6s ease 0s;-webkit-transition:all .6s ease 0s;}
.redPacketConLi.cur{display:block;}
.redPacketConLi .xiushi{position: absolute;top:-6px;right:16px;width:15px;height:15px;background:#585858;transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.redPacketConLi ul{position: relative;z-index:99999999;}
.redPacketConLi li{height:40px;line-height:40px;text-align:center;width:100%;}
.redPacketConLi li a{display:block;width:90%;border-bottom:1px solid #888;margin:0 auto;color:#bdbdbd;font-size:13px;padding:0;}
.redPacketConLi li:last-child a{border:none;}
.sendRedP .last{margin-top:25px;}
.sendRedP .title{height:80px;line-height:80px;font-weight:600;text-align:center;font-family:'Arial';color:#999;font-size:18px;}
.sendRedP .title .mon{color:#888;font-size:24px;}
.receiveP .summary,.shareList .summary{height:auto;display:-webkit-box;padding:10px 0;}
.receiveP .userPic,.shareList .userPic{width:80px;height:80px;margin:0 20px;border-radius:1111111px;overflow: hidden;}
.receiveP .userPic img,.shareList .userPic img{display:block;width:100%;}
.receiveP .sumDetail{-webkit-box-flex:1;line-height:24px;font-size:14px;padding-top:5px;}
.receiveP .sumDetail p:last-child{color:#888;}
.receiveP .details{border-top:1px solid #ddd;}
.detailList li{border-bottom:1px solid #ddd;}
.detailList .inner{padding:0 10px;}
.detailList .inner .title{width:100%;color:#777;}
.shareList{height:100%;padding:45px 0 60px 0;overflow:scroll;box-sizing:border-box;}
.shareList .userPic{width:60px;height:60px;}
.shareList .sumDetail{line-height:22px;color:#999;}
.shareList .sumDetail p:first-child{font-size:16px;line-height:32px;}
.shareList  .detail{padding:0 10px;box-sizing:border-box;font-size:14px;line-height:21px;color:#777;}
.shareList  li{padding-bottom:10px;border-bottom:1px solid #ddd;}
.shareList  li:last-child{border:none;}
.shareCon{display:-webkit-box;padding:10px;background:#fff; box-sizing:border-box;border-top:1px solid #ccc;position: fixed;z-index:99999;background:#fff;width:100%;bottom:0;}
.shareCon textarea{-webkit-box-flex:1;border:none; border-bottom:1px solid #ddd;height:25px;line-height:25px; resize:none;display:block;padding:5px 0;}
.shareCon input[type=submit]{width:60px;text-align:center;height:36px;line-height:36px;background:#a20000;font-size:14px;border-radius:2px;color:#fff;margin-left:10px;}
.helpList .cell{height:62px;line-height:25px;}
.helpList .cell{padding:8px 10px;box-sizing:border-box;}
.helpList .cell a{font-size:13px;font-weight:600;color:#888;}
table.levelM{border:1px solid #ddd;border-collapse: collapse;width:100%;}
table.levelM td,table.levelM th{line-height:40px;font-size:10px;color:#888;border:1px solid #ddd;text-align:center;}
table.levelM th{font-weight:600;}
@media(min-width:319px) {
	table.levelM td,table.levelM th{font-size:10px;}
}
@media(min-width:359px) {	
	table.levelM td,table.levelM th{font-size:14px;}
}
i.mobileIcon{background-image:url(../images/mobileIcon.png)!important;}
.setting .cell{padding:0 10px;box-sizing:border-box;}
.switchMain{height:22px;width:36px;border-radius:1111px;background:#ddd;margin-top:10px;position: relative;transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;}
.switchBtn{height:20px;width:20px;border-radius:11111px;background:#fff;position: absolute;top:50%;margin-top:-10px;left:1px;box-shadow:0 1px 2px #d2d2d2;
	transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;}
.switchMain.cur{background:#7ed047;}
.switchMain.cur .switchBtn{left:15px;}
.integral .cell .rechargeNum{width:90px;}
.integralTitle dl{width:120px;display:-webkit-box;margin:0 auto;}
.integralTitle dt{width:36px;margin-right:15px;}
.integralTitle dt img{width:100%;display:block;margin-top:15px;}
.integralTitle dd{line-height:80px;font-size:20px;color:#777;font-weight:600;width:120px;}
.newGap{padding:0 20px;}
.banlanceCount{padding:20px 5px 10px;width:100%;display:block;}
.packetDetail .inner{padding-left:53px;position: relative;}
.packetDetail .inner .userPicx{ width:36px;height:36px;border-radius:11111px;overflow: hidden;position: absolute;top:8px;left:10px; }
.packetDetail .inner .userPicx img{width:100%;border-radius:111px;}
.bigBoss{width:100%;height:auto;padding-bottom:10px; position: relative;}
.bigBbg{width:120%;height:150px;background:#a20000;border-radius:50%;position: absolute;left:50%;top:5%;border:2px solid #ddd;
	-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)  }
.bigBoss .picx{display:block;width:100px;height:100px;border-radius:11111px; margin:20px auto 0; overflow: hidden;border:5px solid #a20000;position: relative;z-index:9999999999;}
.bigBoss .picx img{width:100%;}
.bigBoss .shuoming{width:90%;text-align:center;overflow: hidden;white-space:nowrap;margin:0 auto;line-height:24px;margin-top:10px;}
.bigBoss .shuoming h3{color:#777;font-weight:600;font-size:14px;}
.bigBoss .shuoming p{color:#888;font-size:13px;}
.bigBoss .shuoming.reveive p.sp{font-size:14px;color:#777;line-height:40px;} 
.bigBoss .shuoming.reveive p.sp .taller{font-size:30px;color:#777;line-height:40px;} 
.timeToTime{width:100%;text-align:center;height:90%;border-bottom:1px solid #ddd;}
.timeBlock{display:inline-block;width:100%;min-width:120px;line-height:26px;}
.timeBlock input{width:105px;}
.exRcQuery .borNone i.smallArr{margin-top:8px;}
.exRcQuery .cell{width:86%;margin:0 auto;}
.exRcQuery .lh32{width:80%;}
@media(min-width:359px) {	
	.timeBlock input{width:115px;}
}
.lookForBal .bigBoss{background:#fff;padding-bottom:20px;}
.lookForBal .bigBoss p.a9001b{text-align:center;line-height:30px;}
.lookForBal .shuoming p{font-size:14px;}
footer{height:50px;display:-webkit-box;width:100%;background:#fff;position: fixed;bottom:0;border-top:1px solid #ddd;}
footer a{display:block;-webkit-box-flex:1;text-align:center;position: relative;line-height:80px;color:#333;height:100%;}
footer a:before{content:'';position: absolute;left:50%;top:35%;
background:url(../images/footer1.png) no-repeat;background-size:100% auto; width:30px;height:30px;margin:-15px 0 0 -15px;}
footer a:nth-child(1):before{background-position: 0 -0px;}
footer a:nth-child(2):before{background-position: 0 -30px;}
footer a:nth-child(3):before{background-position: 0 -60px;}
footer a:nth-child(4):before{background-position: 0 -90px;}
footer a:nth-child(5):before{background-position: 0 -120px;}
footer a.a9001b:before{background-image:url(../images/footer2.png);}
.personalCenter{padding-bottom:60px;overflow:scroll;-webkit-overflow-scrolling:touch;}
.personalCenter::-webkit-scrollbar{height:0;width:0;background:none;}
.personalCenter .bg{width:100%;position: relative;height:auto;overflow: hidden;background:#fff;}
.personalCenter .bg img{position: relative;width:100%;z-index:9;}
.personalCenter .bg .detail{position: absolute;width:100px;height:120px;top:50%;left:50%;margin:-60px 0 0 -50px;z-index:99;}
.personalCenter .bg .detail .pic{width:100px;height:100px;border-radius:1111px;overflow: hidden;border:3px solid  rgba(165,211,237,0.5);box-sizing:border-box;}
.personalCenter .bg .detail .pic img{width:100%;display:block;}
.personalCenter .bg .detail .uname{line-height:36px;color:#fff;text-align:center;display:block;font-size:14px;font-weight:600;}
.personalCenter .part3{display:-webkit-box;width:100%;height:50px;line-height:25px;background:#fff;border-bottom:1px solid #ddd;}
.personalCenter .part3 a{display:block;-webkit-box-flex:1;border-right:1px solid #ddd;height:36px;margin-top:7px;text-align:center;font-size:14px;font-weight:600;color:#777;}
.personalCenter .part3 a .a9001b{line-height:18px;position: relative;top:-7px;font-weight:400;}
.personalCenter .part3 a:last-child{border:none;}
.personalCenter .shuoming{height:30px;border-bottom:1px solid #ddd;line-height:30px;padding:0 10px;box-sizing:border-box;background:#fff;}
.personalCenter .main ul{width:100%;margin-top:10px;}
.personalCenter .main ul li{height:42px;line-height:42px; background:#fff;border-bottom:1px solid #ddd;padding:0 10px;box-sizing:border-box;}
.personalCenter .main ul li a{display:block;width:100%;height:100%;font-size:13px;font-weight:600;color:#888;}
.personalCenter .main ul li a i.icon{display:inline-block;vertical-align:top; margin:5px 5px 0 0; width:26px;height:26px;background:url(../images/gerenCenterIcon.png) no-repeat;background-size:100% auto;}
.personalCenter .main li .left{height:100%;overflow: hidden;}
.hd{display:-webkit-box;height:40px;line-height:40px;border-bottom:1px solid #ddd;position: relative;}
.hd a{-webkit-box-flex:1;font-size:14px;color:#777;display:block;text-align:center;font-weight:600;}
.hd .underLine,.theDetail .hd .underLine{width:25%;height:3px;background:#a20000;position: absolute;left:0;bottom:0;transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;}
.theDetail .hd .underLine{width:33.3333%;}
.bd table{width:100%;text-align:center;border:1px solid #ddd;border-collapse:collapse;line-height:36px;margin-top:-1px;}
.bd table td,.pointRank .bd table th{border:1px solid #ddd;text-align:center;}
.bd table td{color:#999;}
.bd table th{line-height:30px;}
@media(min-width:359px) {	
	.bd table{font-size:14px;}
}
.bd>li{display:none;}
.bd>li.cur{display:block;}
.theDetail .bd>li .item{border-bottom:1px solid #ddd;padding:10px 0;}
.theDetail .bd>li .item>p{width:90%;margin:0 auto;line-height:22px;font-size:13px;font-weight:600;color:#888;}
.theDetail .bd>li .item>p.sgray{color:#888;font-size:12px;font-weight:normal;}
.theDetail .bd>li .item>p.state{font-size:14px;text-align:center;}
.theDetail .bd>li .item>p.state>.state1{margin-top:10px;height:22px;line-height:22px;display:block;}
i.icon_succ{display:inline-block;vertical-align:top;margin-right:6px;width:22px;height:22px;background:url(../images/icon_succ.png) no-repeat;background-size:100% auto;}
.zishiLayerTip{position:absolute;width:80%;overflow:hidden;height:auto;}
.zishiLayerTip .bg,.zishiLayerTip img{width:100%;display:block;max-width:300px;margin:0 auto;position: relative;}
.zishiLayerTip .con{position: absolute;width:80%;height:44%;top:65%;left:50%;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);max-width:240px;line-height:22px;padding:10px;overflow: hidden;box-sizing:border-box;
}
.zishiLayerTip .con .title{font-size:14px;}
.zishiLayerTip .con .title{font-size:14px;}
.zishiLayerTip .zishiLayerTipClose{position: absolute;top:17.5%;right:3.5%;width:16px;height:16px;
	z-index:99999999; background:url(../images/zishiLayerTipClose.png) no-repeat center center;background-size:100% auto;}

.zishiLayerTip .title{width:80%;text-align:center;height:15%;position: absolute;top:30%;line-height:22px;}
.zishiLayerTip .title p:first-child{font-size:16px;color:#666;}
.zishiLayerTip .title p:last-child{font-size:13px;color:#a9001b;}
