@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
/* 去除iPhone中默认的input样式 */
input[type="submit"],input[type="reset"],input[type="button"],input{-webkit-appearance:none; resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {display: block; }
/* 图片自适应 */
img {display:block; max-width: 100%; height: auto; width:auto\9; /* ie8 */ -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/ } /* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
@font-face {font-family: 'iconfont'; src: url('font/iconfont.eot'); /* IE9*/ src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/iconfont.woff') format('woff'), /* chrome、firefox */ url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */ }
ul{list-style:none;}
.box {font: 400 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei; min-width: 320px; max-width: 540px; margin: 0 auto; }
a{color:white; text-decoration:none; }
.search-box{width:100%; background: #a40000; box-sizing:border-box; height:60px; line-height:60px; min-width:320px; max-width:540px; z-index:999; display:flex; overflow:hidden; }
.search-box{position:fixed;top:0px;}
*focus{outline:none;}
.search-box .bg{width:70%;}
.search-box .search-con{padding-left:4px; font-size: 10px; color: #878787; height:30px; background:#fff; width:90%; line-height:30px; margin:15px 20px 0px 0px; z-index:999; border-radius:5px; }
.search-con span{position:relative;}
.search-con span:before{content: ''; width: 15px; height: 15px; background: url(../images/un_ico_home_v66.png) no-repeat -60px -280px; background-size: 104px 328px; position: absolute; left:0px; top:8px; }
.search-con .input_1{padding-left:13px;height:26px;border:none;outline: none;float:left;width:55%;line-height:26px;margin-top: 2px}
.search-con .input_2{border: none; outline: none; cursor: pointer; background: 0px; font-size:12px; float:right; background:#a40000; height:26px; margin-top:2px; margin-right:2px; width:30%; text-align:center; line-height:26px; color:#fff; border-radius:5px; } 
/*导航栏*/
.menu{height:auto;margin-top:70px;}
.menu ul{overflow: hidden;margin:4px 0px;list-style:none;width:100%;height:auto;}
.menu ul li{width:20%;text-align:center;float:left;height:35px;}
.menu ul li a {color: #000; font-size: 16px; line-height: 35px; display:block; } .menu ul li a:hover {background-color: #a40000;color: #fff;}
	/* 焦点图 */
.slideBox{ position:relative; overflow:hidden; margin:10px auto;  max-width:560px;/* 设置焦点图最大宽度 */ }
.slideBox .hd{ position:absolute; height:28px; line-height:28px; bottom:0; right:0; z-index:1; }
.slideBox .hd li{ display:inline-block; width:10px; height:10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#333; text-indent:-9999px; overflow:hidden; margin:0 6px;text-align:center; }
.slideBox .hd li.on{ background:#fff;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(../images/loading.gif) center center no-repeat;  vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */
.slideBox .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0; text-indent:10px; height:28px; line-height:28px; background:url(../images/focusBg.png) repeat-x; color:#fff;  text-align:left;  }
/*伍福推荐*/
.tuijian{width:100%;background:#a40000;margin-top:6px;}
.tuijian span{font-size: 18px;color: #fff;line-height: 35px;margin-left: 17px;}
.new-list ul{list-style:none;margin-left:15px;}
.new-list ul li {border-bottom:1px solid #ccc;line-height:35px;}
.new-list ul li span{background:url(../images/jt.png) no-repeat left center; display:inline-block;width:9px;height:9px;}
.new-list ul li a{color: #1b1b1b;font-size: 14px;margin-left:20px;}
/*伍福公共部分*/
.hyp-img{border-top: solid 6px #c9c9c9;}
.cs,.fg,.kl,.hd1,.sz,.kjc{width:100%;background:#a40000;border-top: solid 6px #c9c9c9;margin-top:6px;}
.cs span,.fg span,.kl span,.hd1 span,.sz span,.kjc span{font-size: 18px;color: #fff;line-height: 35px;margin-left: 17px;}
.news-list img{height:auto;float:left;width:30%;}
.news-list{margin-left: 15px;}
.news-list ul li{margin-top:10px;border-bottom:1px solid #ccc;overflow:hidden;padding-bottom:10px;}
.news-list ul li a {color:#000;line-height:30px;}
.news-list ul li span {color:#000;display:block;}
.news-list ul .li-con{float:left;margin:20px 0px 0px 20px;}
.news-list ul .li-con span:nth-child(2){color: #959595;font-size: 12px;}
.more{text-align:center;}
.more a{color: #535353;font-size: 14px;line-height: 40px;}
.kjc-list ul{text-align:center;overflow:hidden;}
.kjc-list ul li{width:30%;float:left;border-radius:10px;background-color: #dcdcdc;margin:10px 0px 10px 10px;}
.kjc-list a{color: #1b1b1b;font-size: 14px;line-height: 30px;display:block;}
.kjc-list a:hover {background-color: #a40000;color: #fff;border-radius:10px;}
nav{margin-bottom:65px;}
/*底部*/
footer{position:fixed;bottom:0px;width:100%;}
footer img{float:left;height:60px;width:24.5%;}
footer .f-i{margin-left:0.66%;}

